<div class="title">
  <h1>Take a Test!</h1>
</div>
<div class="body">
  <div class="decksection">
    {{#each tests as |test|}}
    <div data-id="{{test.id}}" class="flip flip-card homepage-card">
      <div data-id="{{test.id}}" class="flip flip-card-front">
        <div data-id="{{test.id}}" class="flip deck">
          <h2 data-id="{{test.id}}" class="flip">{{test.name}}</h2>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>
<script src="/js/test.js"></script>